Repository TerryMazzoni/RTypeMirror, pull requests merged in 2023-11, with the labels that each got.

#81 Fix the RFC with the new infos, and Delete -m
  R-TYPE_RFC.txt
  README.md
  install.sh
Labels: documentation

#82 Fix Delete of entities and add moving walls.
  src/server/game/Game.cpp
Labels: Game: Client

#83 Fix client stop when no server are started
  src/client/Client.cpp
  src/client/Client.hpp
  src/client/ECS/Core.cpp
  src/client/main.cpp
Labels: Network

#86 Fix movement
  assets/map.json
  src/client/ECS/EventManager.cpp
  src/client/ECS/EventManager.hpp
  src/server/game/Game.cpp
Labels: Game: Client

#91 Rt 157 fix ticks time
  levels/level_1.json
  levels/level_1.txt
  src/client/Client.cpp
  src/client/ECS/Core.cpp
  src/server/game/Game.cpp
  src/server/main.cpp
Labels: Game: Server, Game: Client

#92 Rt 148 create background from json
  CMakeLists.txt
  assets/map.json
  src/Parser.cpp
  src/Parser.hpp
  src/client/ECS/Core.cpp
  src/client/ECS/EntitiesManager.cpp
  src/client/ECS/systems/BackgroundMouvement.cpp
  src/client/ECS/systems/BackgroundMouvement.hpp
Labels: Feature, Game: Client

#94 Fix: map
  levels/level_1.json
  src/client/ECS/Core.cpp
Labels: Game: Client

#95 Add: paralax support
  levels/level_1.json
  src/client/ECS/Core.cpp
Labels: Game: Client

#98 Add schema of the communication in the RFC
  R-TYPE_RFC.txt
Labels: documentation

#97 The server can now handle DDOS
  install.sh
  src/server/Server.cpp
  src/server/Server.hpp
  src/server/main.cpp
Labels: bug, Network

#99 Documentation of network and server classes, ADD namespaces, and FIX crash of server
  src/client/Args.cpp
  src/client/Args.hpp
  src/client/Client.cpp
  src/client/Client.hpp
  src/client/ECS/Core.cpp
  src/client/ECS/Core.hpp
  src/client/main.cpp
  src/communication/Communication.hpp
  src/communication/Message.hpp
  src/server/Args.cpp
  src/server/Args.hpp
  src/server/Client.cpp
  src/server/Client.hpp
  src/server/Server.cpp
  src/server/Server.hpp
  src/server/game/Bonus.cpp
  src/server/game/Bonus.hpp
  src/server/game/Bullet.cpp
  src/server/game/Bullet.hpp
  src/server/game/Game.cpp
  src/server/game/Game.hpp
  src/server/game/Ship.cpp
  src/server/game/Ship.hpp
  src/server/main.cpp
Labels: bug, documentation, Network

#100 Fix Bonus, and create them randomly as enemies death.
  levels/level_1.json
  src/server/game/Game.cpp
Labels: Game: Server

#103 Add new map
  levels/level_1.json
  levels/level_1.txt
Labels: Feature

#102 Last sprint merge.
  R-TYPE_RFC.txt
  install.sh
  levels/level_1.json
  levels/level_1.txt
  src/client/Args.cpp
  src/client/Args.hpp
  src/client/Client.cpp
  src/client/Client.hpp
  src/client/ECS/Core.cpp
  src/client/ECS/Core.hpp
  src/client/main.cpp
  src/communication/Communication.hpp
  src/communication/Message.hpp
  src/server/Args.cpp
  src/server/Args.hpp
  src/server/Client.cpp
  src/server/Client.hpp
  src/server/Server.cpp
  src/server/Server.hpp
  src/server/game/Bonus.cpp
  src/server/game/Bonus.hpp
  src/server/game/Bullet.cpp
  src/server/game/Bullet.hpp
  src/server/game/Game.cpp
  src/server/game/Game.hpp
  src/server/game/Ship.cpp
  src/server/game/Ship.hpp
  src/server/main.cpp
Labels: bug, documentation, Feature, ECS, Network, Game: Server, Game: Client, Refactor, CI CD, Compilation
