Repository TerryMazzoni/RTypeMirror, pull requests merged in 2023-10, with the labels that each got.

#25 Rt 95 doc and readme
  Doxyfile
  R-TYPE_RFC_V1.odt
  R-TYPE_RFC_V1.txt
  README.md
  install.sh
  src/client/Args.cpp
  src/server/Args.cpp
  src/server/game/Ship.hpp
Labels: documentation, Network

#26 Rt 72 send informations to client when needed
  CMakeLists.txt
  assets/map.json
  map.json
  src/Parser.cpp
  src/client/Client.cpp
  src/communication/Communication.hpp
  src/server/Server.cpp
  src/server/Server.hpp
  src/server/game/Bullet.cpp
  src/server/game/Bullet.hpp
  src/server/game/Game.cpp
  src/server/game/Game.hpp
  src/server/main.cpp
Labels: Network, Game: Server

#27 Rt 92 refacto ci cd
  .github/workflows/build.yml
  .github/workflows/rtype.yml
  install.sh
Labels: CI CD

#28 Fix number of threads
  .github/workflows/rtype.yml
  install.sh
Labels: CI CD

#30 Rt 99 create release of the project
  .github/workflows/release.yml
  .github/workflows/rtype.yml
  CMakeLists.txt
Labels: CI CD

#31 Rt 98 get the windows exe
  CMakeLists.txt
  install.bat
Labels: Compilation

#33 Rt 100 collisions between missiles and ennemies player
  src/client/Client.cpp
  src/client/Client.hpp
  src/client/ECS/Core.cpp
  src/client/ECS/Core.hpp
  src/client/ECS/EntitiesManager.cpp
  src/client/ECS/EntitiesManager.hpp
  src/client/ECS/Graph.cpp
  src/client/ECS/Graph.hpp
  src/client/ECS/SystemManager.cpp
  src/client/ECS/SystemManager.hpp
  src/client/ECS/components/Texture.hpp
  src/client/ECS/systems/ASystem.hpp
  src/client/ECS/systems/BulletMouvement.cpp
  src/client/ECS/systems/BulletMouvement.hpp
  src/client/ECS/systems/ChangeTexture.cpp
  src/client/ECS/systems/ChangeTexture.hpp
  src/client/ECS/systems/ISystem.hpp
  src/client/ECS/systems/Mouvement.cpp
  src/client/ECS/systems/Mouvement.hpp
  src/client/ECS/systems/Shoot.cpp
  src/client/ECS/systems/Shoot.hpp
  src/client/Enum.hpp
  src/communication/Communication.hpp
  src/server/Server.cpp
  src/server/Server.hpp
  src/server/game/Game.cpp
  src/server/game/Game.hpp
Labels: ECS, Game: Server

#35 Rt 97 create entities from parser
  CMakeLists.txt
  assets/map.json
  assets/test.json
  src/Parser.cpp
  src/Parser.hpp
  src/client/ECS/Core.cpp
  src/client/ECS/Core.hpp
  src/client/ECS/Entity.hpp
  src/client/ECS/Factory.cpp
  src/client/ECS/systems/ChangeTexture.hpp
  src/client/main.cpp
  src/server/game/Game.cpp
Labels: ECS, Game: Server, Game: Client

#36 Add delta time
  assets/map.json
  install.sh
  src/server/game/Game.cpp
  src/server/main.cpp
Labels: Feature, Game: Server

#37 Rt 105 fix id of entities server side complying with client side
  CMakeLists.txt
  assets/map.json
  src/server/game/Game.cpp
  src/server/game/Game.hpp
Labels: Game: Server

#38 Rt 102 create automatically doc on GitHub pages
  .github/workflows/documentation.yml
  .github/workflows/rtype.yml
  Doxyfile
  R-TYPE_RFC.txt
  README.md
Labels: documentation

#42 Rt 109 display rfc on browser
  .github/workflows/documentation.yml
  README.md
Labels: documentation, CI CD

#43 Doc
  Doxyfile
Labels: documentation

#44 Rt 117 create any class for stocking different values
  assets/map.json
  assets/test.json
  src/Parser.cpp
  src/Parser.hpp
  src/client/ECS/Core.cpp
  src/server/game/Game.cpp
Labels: ECS

#45 FIX the crash of the client
  .gitmodules
  Doxyfile
  src/client/Client.cpp
  src/client/Client.hpp
  src/client/main.cpp
  src/server/game/Game.cpp
  src/server/main.cpp
Labels: bug, documentation, Game: Server, Game: Client

#46 Add installers who clones the project and install it
  .github/workflows/release.yml
  download.bat
  download.sh
Labels: Compilation

#47 Fix send only connected players to all clients
  src/server/Server.cpp
  src/server/Server.hpp
  src/server/game/Game.cpp
Labels: Game: Server

#48 Rt 127 upgrade game loop
  assets/map.json
  src/Parser.hpp
  src/server/game/Game.cpp
Labels: Game: Server

#49 Rt 127 upgrade game loop
  assets/background/road1.png
  assets/background/road2.png
  assets/background/sidewalk1.png
  assets/background/sidewalk2.png
  assets/background/sidewalk3.png
  assets/enemies/Enemy1/0.png
  assets/enemies/Enemy1/1.png
  assets/enemies/Enemy1/2.png
  assets/enemies/Enemy1/3.png
  assets/enemies/Enemy1/4.png
  assets/enemies/Enemy1/5.png
  assets/enemies/Enemy2/0.png
  assets/enemies/Enemy2/1.png
  assets/enemies/Enemy2/2.png
  assets/enemies/Enemy2/3.png
  assets/enemies/Enemy2/4.png
  assets/enemies/Enemy2/5.png
  assets/gun/gun1.png
  assets/map.json
  assets/player/Layer 1_1.png
  assets/player/Layer 1_2.png
  assets/player/Layer 1_3.png
  assets/player/Layer 1_4.png
  assets/player/Layer 1_5.png
  assets/player/Layer 1_6.png
  assets/player/Layer 2_1.png
  assets/player/Layer 2_2.png
  assets/player/Layer 2_3.png
  assets/player/Layer 2_4.png
  assets/player/Layer 2_5.png
  assets/player/Layer 2_6.png
  assets/player/Layer 3_1.png
  assets/player/Layer 3_2.png
  assets/player/Layer 3_3.png
  assets/player/Layer 3_4.png
  assets/player/Layer 3_5.png
  assets/player/Layer 3_6.png
  assets/player/Layer 4_1.png
  assets/player/Layer 4_2.png
  assets/player/Layer 4_3.png
  assets/player/Layer 4_4.png
  assets/player/Layer 4_5.png
  assets/player/Layer 4_6.png
Labels: Game: Server

#50 Rt 127 upgrade game loop
  src/server/game/Game.cpp
Labels: Game: Server

#51 Fix ship sending.
  src/server/game/Game.cpp
Labels: Game: Server

#54 Fix: GetFloat returns 0 if type is int
  src/Parser.cpp
Labels: bug, Game: Server, Game: Client

#53 Rt 129 refacto encapsulation ray lib
  CMakeLists.txt
  src/client/ECS.hpp
  src/client/ECS/Core.cpp
  src/client/ECS/Core.hpp
  src/client/ECS/EntitiesManager.cpp
  src/client/ECS/Factory.cpp
  src/client/ECS/Factory.hpp
  src/client/ECS/Graph.cpp
  src/client/ECS/Graph.hpp
  src/client/ECS/components/Color.hpp
  src/client/ECS/components/Component.cpp
  src/client/ECS/components/Component.hpp
  src/client/ECS/components/IComponent.hpp
  src/client/ECS/components/Position.hpp
  src/client/ECS/components/Rotation.hpp
  src/client/ECS/components/Scale.hpp
  src/client/ECS/components/Sprite.hpp
  src/client/ECS/components/Text.hpp
  src/client/ECS/components/Texture.hpp
  src/client/ECS/systems/BulletMouvement.cpp
  src/client/ECS/systems/ChangeTexture.cpp
  src/client/ECS/systems/Mouvement.cpp
  src/client/ECS/systems/Mouvement.hpp
  src/client/ECS/systems/Shoot.cpp
  src/client/ECS/systems/Shoot.hpp
  src/client/Enum.hpp
  src/client/Raylib/RlDraw.cpp
  src/client/Raylib/RlDraw.hpp
  src/client/Raylib/RlSprite.cpp
  src/client/Raylib/RlSprite.hpp
  src/client/Raylib/RlTexture.hpp
Labels: Game: Client, Refactor

#55 Add: extern C everywhere
  src/client/Raylib/RlAudio.hpp
  src/client/Raylib/RlColor.hpp
  src/client/Raylib/RlDraw.hpp
  src/client/Raylib/RlFont.hpp
  src/client/Raylib/RlInputs.hpp
  src/client/Raylib/RlMusic.hpp
  src/client/Raylib/RlScreen.hpp
  src/client/Raylib/RlSound.hpp
  src/client/Raylib/RlSprite.hpp
  src/client/Raylib/RlText.hpp
  src/client/Raylib/RlTexture.hpp
  src/client/Raylib/RlTime.hpp
Labels: Compilation

#56 Add: documentation for Sprite and RlSprite
  src/client/ECS/components/Sprite.hpp
  src/client/Raylib/RlSprite.hpp
  src/client/Raylib/RlWindow.hpp
Labels: documentation, Game: Client, Refactor

#57 Fix download.bat for windows
  download.bat
Labels: Compilation

#58 Fix: raylib on windows is working
  .gitignore
  CMakeLists.txt
  install.bat
  map.json
  src/Parser.cpp
  src/TransformPath.cpp
  src/TransformPath.hpp
  src/client/Client.hpp
  src/client/ECS/Core.cpp
  src/client/ECS/Graph.cpp
  src/client/Raylib/RlColor.cpp
  src/client/Raylib/RlSprite.cpp
  src/server/game/Game.cpp
Labels: Compilation

#60 Rt 132 add more infos in the rfc
  .github/workflows/rtype.yml
  R-TYPE_RFC.txt
  README.md
Labels: documentation

#63 Rt 139 file in the releases
  .github/workflows/release.yml
Labels: CI CD

#64 Fix link in readme
  README.md
Labels: documentation

#65 Fix bullets, add teams to bullets, enemies and players.
  src/Parser.cpp
  src/client/Client.cpp
  src/client/ECS/Core.cpp
  src/server/game/Game.cpp
Labels: Game: Server

#66 Fix team for enemies.
  src/server/game/Game.cpp
Labels: Game: Server

#67 Fix Bullets Sent ids.
  src/server/game/Game.cpp
Labels: Game: Server

#68 Rt 127 upgrade game loop
  src/server/game/Game.cpp
  src/server/game/Game.hpp
Labels: Game: Client

#70 Add: doxygen
  src/Parser.cpp
  src/Parser.hpp
Labels: documentation

#71 Rt 127 upgrade game loop
  .gitignore
  assets/map.json
  src/client/ECS/EventManager.cpp
  src/server/game/Game.cpp
Labels: Game: Client

#72 Add delete communication
  src/client/Client.cpp
  src/communication/Communication.hpp
  src/server/game/Game.cpp
  src/server/game/Game.hpp
Labels: Network

#74 Send deletion of entities to the client.
  src/server/game/Game.cpp
Labels: Game: Client

#79 Fix speed server side, no prediction client side
  src/TransformPath.cpp
  src/client/Args.cpp
  src/client/Client.cpp
  src/client/ECS/Core.cpp
  src/client/ECS/EntitiesManager.cpp
  src/client/ECS/EventManager.cpp
  src/client/ECS/EventManager.hpp
  src/client/Raylib/RlTexture.cpp
  src/server/game/Game.cpp
Labels: Feature, Game: Client
